.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #34495e;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: #ecf0f1;
    margin-right: 20px;
    padding: 7px;
}
nav a:hover{
    background-color: #7f8c8d;
}